.cp{
    cursor: pointer;
}
.bg-glass{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.line-through, .tachado{
    text-decoration:line-through;
}