<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ccc;
        }

        .container {
            text-align: center;
            padding: 10px;
            border:solid 1px #333;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Error 404</h3>
        <p>Upps, parece que el contenido que estas buscando no existe</p>
    </div>
</body>
</html>