<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>

    <link rel="stylesheet" href="/resources/cdn/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/resources/cdn/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/cdn/font-awesome-6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/resources/cdn/font-awesome-6.6.0/css/brands.min.css">
    <link rel="stylesheet" href="/resources/cdn/sweetalert2/sweetalert2.all.min.css">
    <link rel="stylesheet" href="/resources/cdn/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ccc;
        }

        /* .container {
            text-align: center;
            padding: 10px;
            border:solid 1px #333;
            background-color: white;
        } */
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">SOFTWARE NAME</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" autocomplete="off" name="email">
                </div>
                <div class="form-group">
                    <label for="">password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" autocomplete="off" name="password">
                        <div class="input-group-append">
                            <button class="btn btn-light border"><i class="fas fa-eye-slash"></i></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" name="login">Login</button>
            </div>
        </div>
    </div>

    <script src="/resources/cdn/jquery-3.7.1.min.js"></script>
    <script src="/resources/cdn/bootstrap/js/popper.min.js"></script>
    
    <script src="/resources/cdn/adminlte/js/adminlte.min.js"></script>
    <script src="/resources/cdn/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/cdn/sweetalert2/sweetalert2.all.min.js"></script>
    
    <script src="/resources/Fechas.js"></script>
    <script src="/resources/Modal.js"></script>
    <script src="/resources/Utils.js"></script>
    <script src="/js/index2.js"></script>

</body>
</html>