<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boilerplate</title>
    <link rel="stylesheet" href="/resources/cdn/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/resources/cdn/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/cdn/font-awesome-6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/resources/cdn/font-awesome-6.6.0/css/brands.min.css">
    <link rel="stylesheet" href="/resources/cdn/sweetalert2/sweetalert2.all.min.css">
    <link rel="stylesheet" href="/resources/cdn/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
        <header class="d-none">
            <!--
            en caso de querer tener el nav en otra etiqueta.
            tambien sirve para agregar una promocion o algo
            -->
        </header>
        <main>
            <nav class="d-flex justify-content-between align-items-center rounded-pill bg-glass mt-3 py-3 px-4">
                <span class="nav-left">
                    <span  style="width: 32px; height: 32px;" class="rounded-circle"></span> Mathias Burgio
                </span>
                <span class="nav-center">
                    <span class="mx-1"><a href="/example/dashboard">Dashboard</a></span>
                    <span class="mx-1"><a href="/example/login2">Login 2</a></span>
                </span>
                <span class="nav-right">
                    <button class="btn btn-sm btn-success mx-1">Registrarme</button>
                    <button class="btn btn-sm btn-primary mx-1">Iniciar sesión</button>
                </span>
            </nav>
            <article class="hero"></article>
            <article class="panel-1"></article>
            <article class="panel-2"></article>
            <article class="panel-3"></article>
            <article class="pricing"></article>
            <article class="contact"></article>
        </main>
        <footer class="border-top py-3 bg-light">
            <div class="row">
                <div class="col-sm-3">
                    <b><i class="fas fa-hippo fa-lg text-primary"></i> Boilerplate</b>
                    <p>
                        Aquí agrega una descripción breve de lo que hace el sitio, cuales son los grandes beneficios que trae y por que deberian utilizar sus servicios.
                    </p>
                    <div class="text-muted">Copyright © 2024 - Todos los derechos reservados</div>
                </div>
                <div class="col-sm-3">
                    <h4>ENLACES</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a href="#">Funciones</a></li>
                        <li><a href="#">Seguridad</a></li>
                        <li><a href="#">Rendimiento</a></li>
                        <li><a href="#">Iniciar sesión</a></li>
                        <li><a href="#">Descargas</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>LEGAL</h4>
                    <ul>
                        <li><a href="#">Términos y condiciones de uso</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>MAS INFO</h4>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Otro servicio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Socios</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <span  style="width: 32px; height: 32px;" class="rounded-circle"></span> Mathias Burgio
                </div>
                <div class="col-sm-5 text-right">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </footer>
    </div>

    <script src="/resources/cdn/jquery-3.7.1.min.js"></script>
    <script src="/resources/cdn/bootstrap/js/popper.min.js"></script>
    
    <script src="/resources/cdn/adminlte/js/adminlte.min.js"></script>
    <script src="/resources/cdn/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/cdn/sweetalert2/sweetalert2.all.min.js"></script>
    
    <script src="/resources/Fechas.js"></script>
    <script src="/resources/Modal.js"></script>
    <script src="/resources/Utils.js"></script>
    <script src="/resources/Menu.js"></script>
    <script src="/js/index.js"></script>
    <script>
        var fechas, modal, utils, menu, index;        
        window.onload = () => {
            fechas = new Fechas();
            modal = new Modal();
            utils = new Utils();
            menu = new Menu();
            index = new Index();
        }
    </script>
</body>
</html>