<div id="config">
    <div class="card shadow-sm mb-3">
        <div class="card-header">
            General
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" name="general.nombre">
            </div>
            <div class="form-group">
                <label for="">Lenguaje</label>
                <select class="form-control" name="general.lenguaje">
                    <option value="javascript" selected>javascript</option>
                    <option value="rust">rust</option>
                    <option value="c#">c#</option>
                    <option value="python">python</option>
                </select>
            </div>
            <button class="btn btn-primary" name="guardar">guardar</button>
        </div>
    </div>
</div>