<div id="dashboard-index-example" class="row">
    
    <div class="col-sm-6">
        <!--dropdownsearcher-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>DropDownSearcher</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="">search</label>
                    <div class="input-group">
                        <input type="text" name="test-dropdownsearcher" class="form-control bg-white" readonly>
                        <div class="input-group-append" name="test-dropdownsearcher-open">
                            <button class="btn btn-light  border"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    code in "dashboard.dropDownSearcher"
                </div>
            </div>
        </div>
        <!--sounds-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>Sounds</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-primary my-2" play-sound="primary">Primary</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-success my-2" play-sound="success">success</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-danger my-2" play-sound="danger">danger</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-warning my-2" play-sound="warning">warning</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-info my-2" play-sound="info">info</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-secondary my-2" play-sound="noti1">noti1</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-secondary my-2" play-sound="noti2">noti2</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-secondary my-2" play-sound="tap">tap</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-secondary my-2" play-sound="ray">ray</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-flat btn-secondary my-2" play-sound="error">error</button>
                    </div>
                    <div class="col-12">
                        <b>code:</b>
                        <div class="bg-dark text-white w-100 p-2 text-monospace">menu.playSound(soundName, force=false)</div>
                    </div>
                </div>
            </div>
        </div>
        <!--SuperExcel-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>SuperExcel</b>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-block btn-flat my-2" excel="writeTable">writeTable</button>
                <button class="btn btn-success btn-block btn-flat my-2" excel="writeTableFromHTMLTable">writeTableFromHTMLTable</button>
                <div class="border" name="tabla-excel" style="height: 150px; overflow: auto;">
                    <table class="table table-sm mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>lenguaje</th>
                                <th>tipado</th>
                                <th>interpretado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>javascript</td>
                                <td>debil</td>
                                <td>si</td>
                            </tr>
                            <tr>
                                <td>typescript</td>
                                <td>debil/fuerte</td>
                                <td>si</td>
                            </tr>
                            <tr>
                                <td>python</td>
                                <td>debil</td>
                                <td>si</td>
                            </tr>
                            <tr>
                                <td>c#</td>
                                <td>fuerte</td>
                                <td>no (IL)</td>
                            </tr>
                            <tr>
                                <td>java</td>
                                <td>muy fuerte</td>
                                <td>no (JVM)</td>
                            </tr>
                            <tr>
                                <td>c++</td>
                                <td>muy fuerte</td>
                                <td>no</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-success btn-block btn-flat my-2" excel="readFileAsObject">readFileAsObject</button>
                <button class="btn btn-success btn-block btn-flat my-2" excel="readFileAsArray">readFileAsArray</button>
                <button class="btn btn-success btn-block btn-flat my-2" excel="readFileAsArrayOfObjects">readFileAsArrayOfObjects</button>
                <div name="barcode-container"></div>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    class /resources/SuperExcel.js
                    <br>
                    implementation /js/dashboard-example.js
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <!--toast-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>Toast</b>
            </div>
            <div class="card-body">
                <button class="btn btn-flat btn-block my-2 btn-primary" toast-level="primary">Primary</button>
                <button class="btn btn-flat btn-block my-2 btn-success" toast-level="success">Success</button>
                <button class="btn btn-flat btn-block my-2 btn-danger" toast-level="danger">Danger</button>
                <button class="btn btn-flat btn-block my-2 btn-warning" toast-level="warning">Warning</button>
                <button class="btn btn-flat btn-block my-2 btn-info" toast-level="info">Info</button>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    menu.toast({<br>
                        level: 'danger', <br>
                        title: 'hello', <br>
                        message: 'Im Mathias Burgio', <br>
                        sound: true<br>
                    })
                </div>
            </div>
        </div>
        <!--toggle-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>toggle</b>
            </div>
            <div class="card-body">
                <label>
                    <input type='checkbox' class="toggle">
                    <span>Click me!</span>
                </label>
                <br>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    copy tags from "/css/toggle.css"
                    <br>
                    get value $(querySelector).prop("checked")
                </div>
            </div>
        </div>
        <!--expiration-bar-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>expiration bar</b>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-block btn-flat my-2" expiration-bar="2050-01-01">expiration in 2050-01-01</button>
                <button class="btn btn-warning btn-block btn-flat my-2" expiration-bar="5">expiration in 5 days</button>
                <button class="btn btn-danger btn-block btn-flat my-2" expiration-bar="-3">expiration 3 days ago</button>
            </div>
        </div>
        <!--qr-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>qr</b>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-block btn-flat my-2" name="make-qr">make qr</button>
                <div name="qr-container"></div>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    utils.getQR({text, size, color, background}, container)
                    <br>
                    return {qrInstance, img}
                </div>
            </div>
        </div>
        <!--barcode-->
        <div class="card card-outline card-primary shadow-sm mb-5">
            <div class="card-header bg-white">
                <b>barcode</b>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-block btn-flat my-2" name="make-barcode">make barcode</button>
                <div name="barcode-container"></div>
                <b>code:</b>
                <div class="bg-dark text-white w-100 p-2 text-monospace">
                    utils.getQR({text, size, color, background}, container)
                    <br>
                    return {qrInstance, img}
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/dashboard-example.js"></script>
<script>
    var dashboardExample;
    window.onload = () => {
        dashboardExample = new DashboardExample();
    }
</script>