<div id="template">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    DropDownSearcher
                </div>
                <div class="card-body">
                    <div>
                        <b>Example</b><br>
                    </div>
                    <code>
                        //ar = ["intel", "amd", "linux", "windows", "ubuntu", "debian", "linux mint", "raspberry os", "samsung, "apple];
                        
                    </code>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Sounds
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary" name="play-sound-primary">Primary</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success" name="play-sound-success">success</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-danger" name="play-sound-danger">danger</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-warning" name="play-sound-warning">warning</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-info" name="play-sound-info">info</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" name="play-sound-noti1">noti1</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" name="play-sound-noti2">noti2</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" name="play-sound-tap">tap</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" name="play-sound-ray">ray</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary" name="play-sound-error">error</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Toast
                </div>
                <div class="card-body">
                    <code>
                        utils.toast("success", tittle, message);
                        //success || danger || info || warning
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>